.BtnPrincipal {
    background-color: rgb(188, 239, 156);
    width: auto;    
    margin: 6px;
    padding: 10px;
    transition: ease 0.4s ;
    border-radius: 5px;
    font-size: 20px;
    border-color: black;    
    border-width: 0.2px;
    filter: drop-shadow(0px 0px 0px black)
}

.BtnPrincipal:hover {
    background-color: rgb(255, 250, 147);
    filter: drop-shadow(0px 10px 15px rgb(209, 158, 48));
    font-size: 20px; 
    padding: 16px;
    margin: 0px;
}