.BtnPrincipal {
    background-color: rgb(188, 239, 156, 1%);
    width: 15vw;
    height: 10vh;
    margin: 6px;
    padding: 16px;
    transition: ease 0.4s;
    border-radius: 5px;
    font-size: 20px;
    border-color: black;
    border-width: 0.2px;
}

.BtnPrincipal:hover {
    background-color: rgba(245, 239, 239, 0.2);
    filter: drop-shadow(0px 10px 15px rgb(255, 255, 255));
    box-shadow: 0 0 20px rgb(255, 255, 255, 100%);
    font-size: 21px;
    text-indent: 0;
}